<h3 class="ui header">{{t "forms.i-i-s-kursovaya-поставщик-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодПоставщика
      class=(if (v-get validationModel "кодПоставщика" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya-поставщик-e.кодПоставщика-caption")
      data-test-i-i-s-kursovaya-поставщик-e-кодПоставщика=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодПоставщика" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.поствщик
      class=(if (v-get validationModel "поствщик" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya-поставщик-e.поствщик-caption")
      data-test-i-i-s-kursovaya-поставщик-e-поствщик=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "поствщик" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.телефон
      class=(if (v-get validationModel "телефон" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya-поставщик-e.телефон-caption")
      data-test-i-i-s-kursovaya-поставщик-e-телефон=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "телефон" "message")}}
  </div>
</form>
